.tomiwa{
    border: 1px solid  red ;
    padding: 200px;
    background-color: aquamarine;

}
.jare{
    border: 1px solid  yellow;
    padding: 200px;
    background-color: blueviolet;
}
.jacob{
    border: 1px solid  blue ;
    padding: 200px;
    background-color: azure;
}